{% extends 'base.html' %}

{% block title %}
    创建课程
{% endblock %}

{% block header %}
    {% include 'course_header.html' %}
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="发布课程">
                </form>
            </div>
        </div>
    </div>
{% endblock %}