{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static 'img/post-bg.jpg' %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1 class="text-center">{{ article.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p class="text-center">
                        <span>作者：{{ article.author.username }}</span>
                        <span style="margin-left: 10px">发布时间：{{ publish }}</span>
                    </p>
                    <div>{{ article.body }}</div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}